<div class="ui segment">Index</div>

<!-- TODO : Mettre une majuscule à la première lettre des modèles -->
<div class="ui grid">
  {{#each model.models as |tables| }}
    <div class="eight wide column">
      <div class="ui message icon">
        <i class="icons big">
          <i class="icon user"></i>
        </i>
        <div class="content">
            {{tables.objects.length}} items
          <div class="header">
            {{tables.name}}
          </div>
        </div>
        {{tables.index}}
      </div>
      <hr/>
    </div>
  {{/each}}

</div>

{{#each model.icons as |icon| }}
  {{icon}}
  <br/>
{{/each}}

{{outlet}}