{{textarea value=model.content placeholder="Entrez votre texte" maxlength=model.MAX class="form-control"}}
<div class='alert {{model.style}}'>{{model.size}} caractère(s) restant(s)</div>

{{#if model.alertVisible}}
  <div class="alert alert-info">{{{model.info}}}</div> <!--Triple accolade permet de ne pas itnerpréter le HTML/JS de la chaîne-->
{{/if}}


<button class="btn btn-primary" {{action "clear" model}} >
  Nettoyer
</button>
<button class="btn btn-primary" {{action "saved" model}}>
  Sauvegarder
</button>
